SPRING_PROFILES_ACTIVE=prod

DB_HOST=
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASSWORD=

PORT=8080
SESSION_COOKIE_SECURE=true
REQUIRE_HTTPS=true
ARES_CONNECT_TIMEOUT=3s
ARES_READ_TIMEOUT=10s

APP_ADMIN_USERNAME=
APP_ADMIN_PASSWORD=
APP_EDITOR_USERNAME=
APP_EDITOR_PASSWORD=
APP_VIEWER_USERNAME=
APP_VIEWER_PASSWORD=
